<div>
    <h2>About The Angular Crash Course</h2>
    
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum quas fuga, quam laudantium et excepturi dignissimos deleniti obcaecati, sit repudiandae libero dolorum quisquam velit quidem, earum ullam laborum magnam officiis?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum quas fuga, quam laudantium et excepturi dignissimos deleniti obcaecati, sit repudiandae libero dolorum quisquam velit quidem, earum ullam laborum magnam officiis?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum quas fuga, quam laudantium et excepturi dignissimos deleniti obcaecati, sit repudiandae libero dolorum quisquam velit quidem, earum ullam laborum magnam officiis?</p>
</div>